*.ipynb_checkpoints
*.TFRecord
*.zip
*.mat
*.hea
*.csv
RECORDS
*.pyc
*.TFRecord
*.npy
**/ckpt/**
**/logs/**
*.out
*.tfevents*
*.data-*
*.pbtxt*
tensorflow/training
tf-experiments/**/training/
*RECORDS
data/raw/

*.pkl
*.TRAINER
*F1
*ckpt
saved
dry
*.swp
